.jumbotron {
  height: 45vh;
  text-align: center;
}

.search-container {
  border: red 1px solid;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.search-bar {
  width: 90%;
  border: blue 1px solid;
}

.gallery {
  padding: 0px 25px 0px 25px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: blue 1px solid;
}

.card-container {
  margin: 8px;
}

.card-title {
  font-size: 14pt !important;
}

.filter-container {
  padding: 0px 30px 40px 30px;
  display: flex;
  flex-direction: row;

}

#filter {
  margin-right: 10px;
}

#sort {
  margin-right: 10px;
}